@import 'theme';
@import 'sidebar';
@import 'tasks';
@import 'form';


:root {
    font-family: $main-font;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#content {
    display: flex;
    height: 95vh;
    width: 95vw;
    background-color: $color4;
    border-radius: 24px;
    overflow: hidden;
}
@media (max-width: $mediaQueryThreshold) {
    #content {
        flex-direction: column;
    }
    #projects>.project {
        max-width: none;
    }

    #sidebar {
        max-height: 30vh;
    }
    #sidebar>#projects {
        max-height: 30vh;
        min-width:auto;
    }
}

#add-task {
    position: fixed;
    bottom: 7vh;
    right: 5vw;
    border: none;
    border-radius: 999px;
    color: $color5;
    background-color: $color3;
    padding: 12px;
    width: clamp(40px, 12vw, 100px);
    transition: all 0.1s ease-in-out;
    box-shadow: $shadow;
    &:hover {
        transform: translateY(-2px);
        background-color: $color2;
    }
}

button:active, #add-task:active {
    filter: brightness(1.2);
}