#sidebar {
    background-color: $color5;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#projects {
    background-color: $color4;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .project {
        font-family: inherit;
        font-size: 100%;
        border: none;
        border-radius: 8px;
        padding: 12px 32px;
        word-wrap: break-word;
        background-color: $color3;
        color: $color5;

        &.selected-project {
            background-color: $color5;
            color: $color3;
        }

        &:hover {
            background-color: $color2;
            color: $color4;
        }
    }
}

#new-project, #remove-project {
    font-family: inherit;
    font-size: 80%;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

#new-project {
    color: $color3;
    background-color: $color1;
    &:hover {
        background-color: $color2;
        color: $color4;
    }
}

#remove-project {
    background-color: #b71111de;
    color: $color5;
}

#sidebar button {
    transition: all 0.1s ease-in-out;
}

#sidebar button:hover {
    transform: scale(1.02);
}