#tasks {
    flex:1 1 80%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 16px;
    justify-content: center;
    position: relative;
    overflow-y:scroll;
}

.task {
    min-width: 100px;
    background-color: $color3;
    min-height: 100px;
    flex-basis: 200px;
    border-radius: 16px;
    padding: 12px 16px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    color: $color1;
    box-shadow: $shadow;
    
    .task-title{
        text-align: center;
        margin: 0;
        font-size: 1.5em;
    }

    .task-desc {
        background-color: $color5;
        border-radius: 16px;
        min-height: 30px;
        padding: 6px 12px;
        color: $color3;
    }

    .task-bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
        .task-buttons {
            display: flex;
            justify-content: flex-end;
            background-color: $color2;
            padding: 0px;
            border-radius: 6px;
            gap: 5px;
            overflow: hidden;
            >* {
                width: 16px;
                padding: 4px;
                filter:invert(1);
            }
        }
    }
}