$color1: #075985;
$color2: #0284c7;
$color3: #38bdf8;
$color4: #bae6fd;
$color5: #f0f9ff;

$main-font: Arial;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$mediaQueryThreshold: 750px;

$shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;